body {
    font-family: Arial, sans-serif;
    background: url("Images/Kanye.jpg") no-repeat center center fixed;
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin: 0;
}

#tekst-container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(221, 58, 224, 0.8);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#tekst-container:hover {
    background: rgba(240, 58, 224, 0.9);
}